<div class="container mt-4">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Success!</h4>
        <p>Person @ViewBag.DeletedName was removed from the list successfully!</p>
        <hr>
        <a asp-action="Index" asp-controller="Person" class="btn btn-primary">Return to List</a>
    </div>
</div>